.table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 20px 20px;
}

.table__caption {
    caption-side: bottom;
    text-align: left;
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

.table__cell {
    border: 1px solid #999999;
    padding: 5px;
    text-align: center;
}

.table__cell--header {
    color: #f8f9f9;
    background: #7e7e81;
    font-size: large;
    font-weight: normal;
}

.table__row:nth-child(odd) {
    background: #dceff9;
}

.table__row:nth-child(even) {
    background: #ffffff;
}

.table__row:hover {
    background-color: #dedede;
}